
/* Responsive styles */

/* Mobile styles */
@media (max-width: 768px) {
    nav a {
        padding: 8px 12px;
        margin: 3px;
    }

    .product-item {
        width: calc(100% - 30px); /* Full width on small screens */
    }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    nav a {
        padding: 10px 20px;
    }

    .product-item {
        width: calc(50% - 30px); /* 2 items per row on medium screens */
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 10px;
    }

    .product-item {
        width: calc(25% - 30px); /* 4 items per row on large screens */
    }
}
